# Análises Preditivas

##### Carregar dados das ações

In [1]:
import yfinance as yf

In [ ]:
ticker = input('Digite o código da ação: ')
dados = yf.Ticker(ticker).history('2y') # Armazenamos em uma variável os dados de histórico dos últimos 2 anos
dados.head()

In [ ]:
dados['Close'].plot()

#### Tratamento de dados

In [14]:
treinamento = dados.reset_index() # O Yahoo Finance vem com a data como index padrão, aqui estamos resetando o index e salvando numa variavel
treinamento = treinamento[['Date', 'Close']]
treinamento['Date'] = treinamento['Date'].dt.tz_localize(None) # Removemos a aparição do fuso horario 
treinamento.columns = ['ds', 'y'] # Renomeamos as colunas ['Date', 'Close']
treinamento

            ds          y
0   2021-06-02  12.178810
1   2021-06-04  12.454109
2   2021-06-07  12.362343
3   2021-06-08  12.524030
4   2021-06-09  12.524030
..         ...        ...
494 2023-05-26  26.799999
495 2023-05-29  26.690001
496 2023-05-30  26.389999
497 2023-05-31  26.120001
498 2023-06-02  27.320000

[499 rows x 2 columns]